/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .fa-bars,
.navbar-scroll .navar-brand {
  color: #4f4f4f;
}

.navbar-scroll .nav-link:hover {
  color: #1266f1;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars,
.navbar-scrolled .navar-brand {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #fff;
}

main {
  padding-top: 200px !important;
}

footer {
  font-size: x-small;
}

#home {
  background: #374c4a;
  background: linear-gradient(
    180deg,
    rgba(55, 76, 74, 1) 0%,
    rgba(170, 210, 200, 1) 100%
  );
}

/* #background-image {
  background-image: url("images/mainbackground.png");
  height: 100vh;
  overflow: scroll;
} */
