#home,
#about-us,
#tours,
#gallery,
#contact {
  height: 100vh;
  align-content: center;
}

#home {
  background: #374c4a;
  background: linear-gradient(
    180deg,
    rgba(55, 76, 74, 1) 0%,
    rgba(170, 210, 200, 1) 100%
  );
}

.jbrounded {
  border-radius: 25px;
  background-color: lightgray;
  padding: 10px;
}

#sidebar-gallery {
  opacity: 0.6;
}

footer {
  font-size: small;
}
